{% load i18n %}
<!DOCTYPE html>
<html lang="{{ request.LANGUAGE_CODE|slice:':2' }}">

<head>
    <meta charset="UTF-8">
    <title>{% trans "POLYPBASE - Connexion" %}</title>
</head>

<body>
    <h1>{% trans "Connexion POLYPBASE" %}</h1>

    {% if form.errors %}
    <p>{% trans "Identifiants invalides." %}</p>
    {% endif %}

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}

        <button type="submit">{% trans "Se connecter" %}</button>
    </form>
</body>

</html>
